.App {
  font-family: sans-serif;
  text-align: center;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "title" "controls" "timer" "settings";
}
