@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Titillium+Web:400,700&display=swap");

/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Indie Flower', cursive;
*/
.App {
  font-family: sans-serif;
  text-align: center;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "header" "controls" "session" "settings" "footer";
}

button {
  border: 0;
  background: 0;
}

h1 {
  grid-area: header;
  margin: 0;
  padding: 0.5em 0;
  font-family: "Titillium Web", sans-serif;
}

.timer-controls {
  grid-area: controls;
  display: flex;
  justify-content: center;
  padding: 0.7em 0;
}

#reset {
  margin-left: 1em;
}

.session {
  grid-area: session;
  padding: 2em 0;
}

#timer-label {
  margin-bottom: 0.5em;
  font-size: 2em;
}

.session-wrapper {
  width: 340px;
  margin: 0 auto;
  background: darkcyan;
  border: 7px solid red;
  border-radius: 10%;
  overflow: hidden;
}

#timer-label {
  padding: 0.4em 0 0.3em;
  background: wheat;
}

#time-left {
  padding: 0.15em 0;
  font-size: 7em;
}

.settings {
  grid-area: settings;
  display: flex;
  justify-content: center;
  padding: 0.4em 0;
}

.session-length-wrapper,
.break-length-wrapper {
  flex-basis: 30%;
}

.settings-wrapper {
  display: flex;
  justify-content: space-evenly;
}

footer {
  padding: 0.6em 0;
}
